/* 导航条 */
.nav-bar {
  height: 101px;
  position: center;
}

/* 导航条：标题图片 */
.nav-bar .title-pic {
  float: left;
  /* 右边并列元素竖直关于顶线对齐 */
  vertical-align: top;
  margin: 30px 33px 0 0;
}

/* 导航条：链接 */
.nav-bar .links {
  float: left;
  vertical-align: top;
  width: 286px;
  height: 100%;
  font-weight: 560;
}

.nav-bar .links li {
  float: left;
  margin-top: 42px;
  padding-left: 31px;
}

.nav-bar .links li a {
  display: block;
  height: 28px;
  padding: 0 8px;
}

.nav-bar .links li a:hover {
  border-bottom: 2px solid #00a4ff;
}

/* 导航条：搜索 */
.nav-bar .search {
  float: left;
  margin: 31px 0 0 96px;
  width: 413px;
  height: 70px;
}

/* 导航条：搜索框 */
.nav-bar .search .search-input {
  float: left;
  width: 341px;
  height: 38px;
  padding-left: 19px;
  border: solid #00a4ff 1px;
  background-color: white;
}

/* 导航条：搜索按钮 */
.nav-bar .search .search-button {
  float: left;
  width: 50px;
  height: 40px;
  background-image: url('../images/search-button.png');
}

/* 导航条：用户信息 */
.nav-bar .profile {
  float: left;
  width: 118px;
  height: 100%;
  margin-left: 31px;
  vertical-align: top;
}

.nav-bar .profile img {
  float: left;
  margin: 36px 0;
  width: 30px;
  height: 30px;
  vertical-align: top;
}

.nav-bar .profile p {
  float: left;
  line-height: 30px;
  margin: 36px 0;
  padding-left: 8px;
}