/* 全局设置 */
* {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #f3f5f7;
  border-radius: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  font-family: '宋体', serif;
  font-size: 18px;
}

/* TODO: 下划线位置和粗细问题 */
a:hover {
  text-decoration: underline;
  text-decoration-color: #00a4ff;
}

ul {
  list-style: none;
}

/* 盒子共有属性 */
.common-box {
  /* TODO: 魔法值 */
  margin: 0 360px;
}



