@import "nav-bar.css";
@import "preview.css";
@import "hobby-bar.css";
@import "courses.css";
@import "index-list.css";
@import "tail-bar.css";

/* 全局设置 */
* {
  padding: 0;
  margin: 0 auto;
  border: none;
  background-color: #f3f5f7;
  border-radius: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  font-family: '宋体', serif;
  font-size: 18px;
}

ul {
  list-style: none;
}

/* 盒子共有属性 */
.common-box {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}



